Email Dictionaires for Each Divison

In [10]:
div_a_scores_dictionary = {"student_names": ["Harsha", "Ashwini", "Rohit", "Mahir"],
                          "math_scores": [50,75,65,70],
                          "chemistry_scores": [80,75,90,65],
                          "information_technology_scores": [40,45,50,65],
                          "physics_scores": [86,64,55,45]}

In [11]:
div_b_scores_dictionary = {"student_names": ["Harshad", "Ashwin", "Rohini", "Melina"],
                          "math_scores": [80,65,95,50],
                          "chemistry_scores": [80,75,90,65],
                          "information_technology_scores": [60,55,60,65],
                          "physics_scores": [88,64,53,65]}

In [12]:
div_c_scores_dictionary = {"student_names": ["Sumit", "Tarak", "Param", "Satinder"],
                          "math_scores": [80,96,67,71],
                          "chemistry_scores": [89,79,98,67],
                          "information_technology_scores": [45,35,60,75],
                          "physics_scores": [89,77,56,75]}

Email Dictionaires for Each Divison

In [15]:
div_a_emails_dictionary = {"student_name": ["Harsha", "Ashwini", "Rohit", "Mahir"],
                           "student_email": ["Harsha@gmail.com", "Ashwini@gmail.com", "Rohit@gmail.com", "Mahir@gmail.com"]
                          }

In [17]:
div_b_emails_dictionary = {"student_name": ["Harshad", "Ashwin", "Rohini", "Melina"],
                           "student_email": ["Harshad@gmail.com", "Ashwin@gmail.com", "Rohini@gmail.com", "Melina@gmail.com"]
                                             }

In [18]:
div_c_emails_dictionary = {"student_names": ["Sumit", "Tarak", "Param", "Satinder"],
                           "student_email": ["Sumit@gmail.com", "Tarak@gmail.com", "Param@gmail.com", "Satinder@gmail.com"]
                          }

Score Processor Function

In [22]:
import pandas as pd

In [25]:
def score_processor(report_card_dictionary, division_name):
    
    #Convert the Dictionary into a DataFrame
    report_card_df = pd.DataFrame(report_card_dictionary)
    
    #Add the total score column
    report_card_df["total_score"] = report_card_df["math_scores"] + report_card_df["chemistry_scores"] + report_card_df["information_technology_scores"] + report_card_df["physics_scores"]
    report_card_df.head(5)
   
    #Add the Average score column
    report_card_df["average_score"] = report_card_df["total_score"]/4
    report_card_df.loc[report_card_df["average_score"]>=90, "character_grade"] = "A"
    report_card_df.loc[(report_card_df["average_score"]>=70)&(report_card_df["average_score"]<90), "character_grade"] = "B"
    report_card_df.loc[(report_card_df["average_score"]>=50)&(report_card_df["average_score"]<70), "character_grade"] = "C"
    report_card_df.loc[(report_card_df["average_score"]>=35)&(report_card_df["average_score"]<50), "character_grade"] = "D"
    report_card_df.loc[report_card_df["average_score"]<35,"character_grade"] = "F"
    
    
    #Add the pass fail column
    report_card_df.loc[report_card_df["total_score"]>=140, "status"] = "pass"
    report_card_df.loc[report_card_df["total_score"]<=140, "status"] = "fail"
    
    #Add the divison column
    report_card_df ["division"] = division_name
    
    #Return the report card dataframe
    return report_card_df

In [26]:
score_processor(div_a_scores_dictionary, "A")

,student_names,math_scores,chemistry_scores,information_technology_scores,physics_scores,total_score,average_score,character_grade,status,division
0,Harsha,50,80,40,86,256,64.00,C,pass,A
1,Ashwini,75,75,45,64,259,64.75,C,pass,A
2,Rohit,65,90,50,55,260,65.00,C,pass,A
3,Mahir,70,65,65,45,245,61.25,C,pass,A