# Practice your variables!
Course: BBA 108-Essentials of Computing & Coding

Submission date: Sunday (19/09/21), 11:59 p.m.

Hey everyone! This is a practice bonus assignment worth 10 points. I **highly** encourage all of you to do this.

Please contact the following **on Slack** if there are any questions or issues:

- @Shourya Watwani 
- @Vanshika Raj 
- @Aryan Gupta 

Thank you! Happy coding :)

In [8]:
# MY Name: 

my_name = "Tanish Kochhar"

my_name

'Tanish Kochhar'

In [1]:
# MY Age:

my_age = "19"

my_age

'19'

In [2]:
# Trips In India

trips_in_india = 10

trips_in_india

10

In [3]:
# Trips Outside India

trips_outside_india = 6

trips_outside_india

6

In [1]:
# Total trips taken

total_trips_taken = 16

total_trips_taken

16

In [6]:
# Create and print a variable to tell us total number of trips you've taken, using the numeric value in a sentence.
trips = "I have taken trips in India" + 'trips_in_india + trips_outside_india'

In [11]:
# Create and print a variable to tell us whether the statement-
# -"I have taken more trips within India than outside India" is true or false using boolean variables.
print ("trips_in_india")
print ("trips_outside-india")
print ("more_trips_within_India")
print (true>false)

trips_in_india
trips_outside-india
more_trips_within_India

NameError: name 'true' is not defined

In [ ]:
# Create and print a variable to calculate the average number of trips you've taken in a year using-
# your total number of trips and your age.

In [ ]:
# Create and print a variable to tell us average number of trips you've taken, using the numeric value in a sentence.